.page-container {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.88rem;

  background-color: #f2f2f2;
  min-height: calc(100vh - 7.5rem);
  display: flex;
  justify-content: center;
}
